@font-face {
    font-family: 'Neutra';
    src: url('https://www.goodhousekeeping.com/_assets/design-tokens/goodhousekeeping/static/fonts/Neutra2Text_bold.c55d597.woff2') format('woff2');
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'Neutra';
    src: url('https://www.goodhousekeeping.com/_assets/design-tokens/goodhousekeeping/static/fonts/Neutra2Text_book.b25bcd9.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archer';
    src: url('https://www.goodhousekeeping.com/_assets/design-tokens/goodhousekeeping/static/fonts/ArcherSSm-Medium_Web.219548a.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary-color: #53c2be;
    --border-color: #D4D4D4;
    --background-light: #f8f3f4;
    --background-white: #ffffff;
    --font-neutra: 'Neutra', serif;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.wrapper a {
    background-color: var(--primary-color);
    text-transform: uppercase;
    width: fit-content;
    padding: 0.5rem 1rem;
    font-family: var(--font-neutra);
    font-weight: bold;
    text-transform: uppercase;
}

#quote h3,
#carousel h3,
#quote h6,
#carousel h6 {
    font-family: var(--font-neutra);
    font-weight: bold;
    text-transform: uppercase;
}

#carousel h6 {
    margin-bottom: 2px;
}

#quote h3,
#carousel h3 {
    font-size: 1.5rem;
}

#quote p,
#carousel p {
    font-family: var(--font-neutra);
    font-weight: normal;
}

#quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid var(--border-color);
    width: 100%;
    overflow-x: hidden;
}

#quote a {
    margin-top: 1rem;
}

#quote p {
    margin-bottom: 2rem;
}

#quote img {
    margin-bottom: -2.5rem;
    z-index: 1;
    max-height: 200px;
}

#mission {
    background: var(--background-white);
    padding: 3rem 3rem 4rem 3rem;
}

#mission a {
    margin-top: 1rem;
}

#carousel {
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color);
    margin: 2rem 0;
    width: 100%;
    flex-direction: column;
    height: auto;
}

.carousel {
    display: flex;
    flex-direction: row;
    transition: transform 0.5s ease-in-out;
}


.carousel-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 100%;
}

.carouselLeft,
.carouselRight {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 300px;

}

.carouselLeft {
    background: #F7F3F4;
    height: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carouselRight {
    background: var(--background-white);
    align-items: center;
    width: 100%;
    padding: 2rem 0;
}

.carouselLeft h3 {
    margin-bottom: 0;
}

.carouselLeft p {
    margin: 1rem 0 2rem 0;
}

.carousel-page {
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
    max-width: 100%;
    padding: 0 3rem;
    flex-wrap: wrap;
}

.carousel-button {
    position: absolute;
    top: 46.25%;
    transform: translateY(-50%);
    border: none;
    padding: 10px;
    cursor: pointer;
    background: none;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    width: 192px;
}

.person h6 {
    font-family: var(--font-neutra);
    font-size: 0.875rem;
    text-transform: uppercase;
    margin: 8px 0;
}

.person img {
    width: 112px;
    max-width: 100%;
    border-radius: 50%;
}

.person p {
    font-size: 14px;
    margin: 0;
}

/* Media Queries */

@media(min-width: 15rem) {

    .person {
        width: 50%;
    }

    .person img {
        width: 50%;
        max-width: 96px;
    }
}


@media(min-width: 30rem) {
    #carousel {
        flex-direction: column;
    }

    .carousel-page {
        justify-content: space-evenly;
    }

    .wrapper {
        padding: rem;
    }

    #quote img {}

    .person {
        width: 148px;
    }

    .person img {
        width: 84px;
    }
}

@media(min-width: 40.625rem) {
    .person {
        width: calc((100/2)-50px);
    }

    .person img {
        width: 80%;
        max-width: 256px;
    }
}

@media(min-width: 48rem) {
    #carousel {
        flex-direction: column;
        height: auto;
    }

    .carousel {
        max-width: 100%;
        width: 100%;
    }

    .carousel-page {
        flex-wrap: wrap;
        justify-content: center;
    }

    .carouselLeft,
    .carouselRight {
        width: 100%;
    }
}

@media(min-width: 61.25rem) {
    #carousel {
        flex-direction: row;
        height: 300px;
    }

    .carousel-page {
        flex-wrap: nowrap;
    }

    .carouselLeft {
        width: 400px;
    }

    .carouselRight {
        width: 800px;
    }


    #quote {
        max-width: 100%;
        margin: 2rem;
    }
}

@media(min-width: 64rem) {
    .wrapper {
        padding: 2rem;
    }

    #quote {
        max-width: 588px;
        margin: 2rem;
    }

    #quote img {}

    #carousel {
        max-width: 1200px;
    }
}

@media(min-width: 73.75rem) {}

@media(min-width: 90rem) {}